<html>
<head><title>PhotoBooth Camera</title></head>
<body>
  <img id="video-frame" />
  <script src="js/phoenix.js"></script>
  <script>
    var videoFrame = document.getElementById("video-frame");
    var socket = new Phoenix.Socket("/socket");
    socket.connect();

    var channel = socket.channel("video:lobby");
    var streaming = true;
    channel.on("next_frame", function(msg) {
      console.count("message", msg)
      videoFrame.setAttribute("src", "data:image/png;base64," + msg.base64_data)
    });
    channel.on("take_picture", function(msg) {
      streaming = false;
      videoFrame.setAttribute("src", "data:image/png;base64," + msg.base64_data)
    });
    channel.join();
  </script>
</body>
</html>
