<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello PhotoBoothUi!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <style>

     body {
       margin: 0;
       background-color: #efefef;
     }

     .btn {
       border: 1px solid #aaa;
       background: #ccc;
       font-size: 24px;
       font-weight: lighter;
       text-align: center;
       cursor: pointer;
       color: #222;
       letter-spacing: 1.3px;
     }

     .photobooth {
       padding-top: 1em;
       padding-right: 1em;
       padding-bottom: 1em;
       padding-left: 1em;
       width: 600px;
       margin: 10px auto;

       border: 1px solid #aaa;
       border-radius: 3px;

       background-color: #e2e2e2;
       box-shadow: 0px 3px 15px #777676;
     }

     .image-wrapper {
       padding: 3px;
       box-shadow: inset 0px 0px 8px #4e4d4d;
       border-radius: 4px;
     }

     .photobooth-image {
       width: 100%;
       border-radius: 4px;
     }

     .photobooth-actions {
       text-align: center;
     }

     .photobooth-actions > .take-photo {
       margin-top: 0.8em;
       background-color: #5409b3;
       color: #fff;
       border: none;
     }

     .overlay {
       position: absolute;
       top: 0;
       right: 0;
       bottom: 0;
       left: 0;
       background-color: rgba(255, 255, 255, 0);
       transition: all 2s ease;
       display: none;
     }

     .overlay.start-flash {
       background-color: rgba(255, 255, 255, 1);
       transition: all 0.07s ease;
     }

     .overlay.stop-flash {
       background-color: rgba(255, 255, 255, 0);
     }

    </style>
  </head>

  <body>
    <div class="overlay js-overlay"></div>
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
  </body>
</html>
