<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello PhotoBoothUi!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <style>

     body {
       position: absolute;
       top: 0;
       right: 0;
       bottom: 0;
       left: 0;
       margin: 0;
       background-color: #efefef;
     }

     .btn {
       border: 1px solid #aaa;
       background: #ccc;
       font-size: 24px;
       /* font-weight: lighter; */
       text-align: center;
       cursor: pointer;
       color: #222;
       letter-spacing: 1.3px;
     }

     .row {
       margin: 0;
     }

     .hide { display: none; }

     .photobooth {
       position: relative;
       z-index: 99;
     }

     .actions {
       margin-top: 5px;
       padding-left: 12px;
     }

     label {
       text-transform: capitalize;
     }

     .cancel-button-border {
       position: absolute;
       top: -12px;
       right: -12px;

       width: 38px;
       height: 38px;
       border-radius: 50%;
       background-color: #191919;
     }
     .cancel-button {
       font-size: 24px;
       color: #191919;
       border-radius: 50%;
       width: 32px;
       height: 32px;
       background-color: #fff;
       position: absolute;
       top: 3px;
       right: 3px;
       text-align: center;
     }

     .form-field {
       border: 1px solid #ccc;
     }

     textarea.form-field {
       resize: none;
       height: 80px;
       width: 76%;
       border-radius: 4px;
       font-size: 16px;
       font-weight: lighter;
       letter-spacing: 0.07em;
       padding: 0.4em 0.6em;
       box-shadow: inset 0px 0px 4px 1px #ccc;
     }

     .twitter-btn {
       display: inline-block;
       width: 125px;
       float: right;
       font-weight: normal;
       font-size: 18px;
       color: #fff;
       background-color: #591be8;
       border: none;
     }

     .twitter-form {
       text-align: initial;
       padding-top: 1em;
     }

     .photobooth-image {
       height: 460px;
       width: 613px;
       margin-top: 10px;
       margin-left: 4px;
       border-radius: 4px;
       box-shadow: 0px 3px 15px #777676;
     }

     .effect-select {
       margin-top: 0.4em;
     }

     .overlay {
       position: absolute;
       z-index: 999;
       top: 0;
       right: 0;
       bottom: 0;
       left: 0;
       background-color: rgba(255, 255, 255, 0);
       transition: all 2s ease;
       display: none;
     }

     .overlay.start-flash {
       background-color: rgba(255, 255, 255, 1);
       transition: all 0.07s ease;
     }

     .overlay.stop-flash {
       background-color: rgba(255, 255, 255, 0);
     }

    </style>
  </head>

  <body>
    <div class="overlay js-overlay"></div>
    <%= render @view_module, @view_template, assigns %>
  </body>
</html>
